<?php if($this->getId()): ?>
    <ul class="messages">
        <li class="notice-msg">
            <ul>
                <li><?php echo Mage::helper('customcmsmenu')->__("You will be able to manage items after saving this menu.") ?></li>
            </ul>
        </li>
    </ul>
<?php endif; ?>