<?php
$links = $this->getMenuCollection();
if(!count($links) || $store_view == '0'){
    return;
}
?>
<h1>Menu</h1>
<?php foreach ($links as $item): ?>
    <a href="<?php echo Mage::getBaseUrl() . $item['url_key']; ?>" target="<?php ($item['type'] == 0) ? print('_self') : print('_blank') ?>" /><?php echo $item['label']; ?> </a><br/>
<?php endforeach ?>